@media (max-width: 991px) and (min-width: 768px) .visible-sm {
    display: block !important;
}

@media(max-width: 9999px) {
    .li-link {
        padding-left: 900px;
    }
    .media-btn{
        margin-left:480px;
    }
}

@media(max-width: 1200px) {
    .li-link {
        padding-left: 900px;
    }
    .media-btn{
        margin-left:480px;
    }
}

@media(max-width: 999px) {
    .li-link {
        padding-left: 700px;
    }
    .media-btn{
        margin-left:380px;
    }
}

@media(max-width: 800px) {
    .li-link {
        padding-left: 600px;
    }
    .media-btn{
        margin-left:280px;
    }
}

@media(max-width: 750px) {

    .media-btn{
        margin-left:180px;
    }
}

@media(max-width: 530px) {

    .media-btn{
        margin-left:80px;
    }
}

@media(width:414px) {

    .li-link {
        padding-left: 100px;
    }
    .header-navs__left {
        margin: 0;
    }
    .header-div {
        width: 50px;
        height: 58px;
        margin-right: 0px !important;
    }
    .header-drop {
        cursor: pointer;
        transition: background-color 0.2s ease 0s;
        padding: 0px !important;
    }
    .header-navs__left>a, .header-navs__right>a, .header-navs {
        display: block;
        margin: 0 6px 0 0 !important;
        color: #2b546a;
        transition: all .2s;
    }
}

@media(width:375px) {

    .li-link {
        padding-left: 40px;
    }
    .header-navs__left {
        margin: 0 !important;
    }
    .header-div {
        width: 50px;
        height: 58px;
        margin-right: 0px !important;
    }
    .header-drop {
        cursor: pointer;
        transition: background-color 0.2s ease 0s;
        padding: 0px !important;
    }
    .header-navs__left>a, .header-navs__right>a, .header-navs {
        display: block;
        margin: 0 !important;
        color: #2b546a;
        transition: all .2s;
    }
}

@media(width:411px) {
    .li-link {
        padding-left: 10px;
    }
    .header-navs__left {
        margin: 0 !important;
    }
    .header-div {
        width: 50px;
        height: 58px;
        margin-right: 0px !important;
    }
    .header-drop {
        cursor: pointer;
        transition: background-color 0.2s ease 0s;
        padding: 0px !important;
    }
    .header-navs__left>a, .header-navs__right>a, .header-navs {
        display: block;
        margin: 0 !important;
        color: #2b546a;
        transition: all .2s;
    }
}

@media(width:320px) {
    .li-link {
        padding-left: 5px;
    }
    a{
        width: 55px;
        height: 30px;
    }
    .header-navs__left {
        margin: 0 !important;
    }
    .header-div {
        width: 40px;
        height: 48px;
        margin-right: 0px !important;
    }
    .header-drop {
        cursor: pointer;
        transition: background-color 0.2s ease 0s;
        padding: 0px !important;
    }
    .header-navs__left>a, .header-navs__right>a, .header-navs {
        display: block;
        margin: 0 !important;
        color: #2b546a;
        transition: all .2s;
    }
}

.visible-xs-min, .visible-xs, .visible-sm, .visible-md, .visible-lg {
    display: none !important;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#smartbanner {
    position: relative;
    display: none;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-family: "AvenirNext", "Lato", "Hirago KakuGothic ProN", Meiryo, sans-serif;
    box-shadow: none;
    background: rgba(207, 207, 207, 0.2);
    border-bottom: 1px solid #cfcfcf;
    z-index: 9998;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    -webkit-text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet header {
    display: block;
}

body {
    font-size: 0.875rem;
}

html {
    font: 100%/1.5 "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
    color: #5876a3;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.7142857143;
}

html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.header {
    position: fixed;
    top: 0;
    z-index: 200000;
    width: 100%;
    height: 58px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
    font-size: 0.82rem;
    letter-spacing: 1px;
}

.sb-slide, #sb-site, .sb-site-container, .sb-slidebar {
    -webkit-transform: translate(0px);
    -moz-transform: translate(0px);
    -o-transform: translate(0px);
    transform: translate(0px);
    -webkit-transition: -webkit-transform 400ms ease;
    -moz-transition: -moz-transform 400ms ease;
    -o-transition: -o-transform 400ms ease;
    transition: transform 400ms ease;
    -webkit-transition-property: -webkit-transform, left, right;
    -webkit-backface-visibility: hidden;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    color: #16325c;
    background: #8be0e6;
}

.header-navs__left>a, .header-navs__right>a, .header-navs {
    display: block;
    margin: 0 15px 0 0;
    color: #2b546a;
    transition: all .2s;
}

.header-navs__left>* {
    float: left
}

.header-navs__right>* {
    float: right;
}

.header-div {
    width: 50px;
    height: 58px;
    margin-right: 5px;
}

.header-drop {
    cursor: pointer;
    transition: background-color 0.2s ease 0s;
    padding: 0px 15px;
}

.dropdown-toggle {
    color: #2b546a;
}

a {
    color: #0070d2;
    text-decoration: none;
    transition: color .1s linear;
}

a {
    background-color: transparent;
    -moz-opacity: 0.8;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

a:hover {
    box-shadow: inset 0 -3.5px 0 0 #30c8d6;
    color: #1c3746;
    -moz-opacity: 0.8;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
}

.header-navs {
    line-height: 58px;
    height: 100%;
}

.header {
    position: fixed;
    top: 0;
    z-index: 200000;
    width: 100%;
    height: 58px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(160, 166, 179, 0.3);
    font-size: 0.82rem;
    letter-spacing: 1px;
}

*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

::selection {
    color: #16325c;
    background: #8be0e6;
}

.header-navs__left {
    float: left;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

user agent stylesheet nav {
    display: block;
}

.header-navs {
    line-height: 58px;
    height: 100%;
}

.header-navs_logo {
    width: 50px;
    display: inline-block;
    box-sizing: border-box;
    padding: auto;
    letter-spacing: 0.1em;
    color: #fff;
}

.header-navs_logo:hover {
    color: #fff;
    background-color: #30c8d6;
    text-decoration: none;
}

.dropdown-toggle:hover {
    box-shadow: none;
    text-decoration: none;
}

.item:hover {
    color: #1c3746;
    background-color: #30c8d6;
    box-shadow: none;
    text-decoration: none;
    box-shadow: 0;
}

.item-logout:hover {
    background-color: #FF5B5B;
    box-shadow: none;
    text-decoration: none;
    box-shadow: 0;
}

.card-body {
    background-color: #fff;
}

.nav-link {
    color: #1c3746;
    box-shadow: none;
    -moz-opacity: 0.8;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.nav-link:hover {
    color: #1c3746;
    opacity: 0.78;
    -moz-opacity: 0.8;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

.title {
    width: 200px;
    display: block;
}

.create-btn {
    float: left;
    display: block;
}

.title-wrapper {
    margin-top: 70px;
    max-width: 100%;
    height: 52px;
}

.list-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem .75rem 2.2rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

.btn {
    float: left;
}

.title-btn {
    background-color: #2b546a;
    color: #fff;
}

.title-btn:hover {
    background-color: #30c8d6;
    opacity: 0.8;
    -moz-opacity: 0.87;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    color: #fff;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color: #30c8d6;
    border-color: none;
    box-shadow: 0;
}

.title-m {
    width: 300px;
}

.title {
    float: left;
    margin: 20px 0px 0 23px;
}

header {
    font-size: 0.82rem !important;
}

.header-logo {
    width: 50px;
    height: 50px;
}

.list-group {
    height: 800px;
}

.btn-link {
    background-color: #2b546a;
    color: #fff;
    width: 60px;
    border-color: #2b546a;
    text-decoration: none;
}

.btn-link:hover {
    background-color: #30c8d6;
    border-color: #30c8d6;
    text-decoration: none;
    width: 60px;
    opacity: 0.8;
    -moz-opacity: 0.87;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    color: #fff;
}

li {
    list-style: none;
    display: inline-block;
}

.delete-btn:hover {
    background-color: #FF5B5B;
    box-shadow: inset 0 -3.5px 0 0 #FF5B5B;
    border-color: #FF5B5B ;
}

.link {
    font-weight: 400;
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    font-weight: 400;
    color: #007bff;
    border-color: #007bff;
    box-shadow: none;
    -moz-opacity: 0.8;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}

.table-head {
    display: block;
    width: auto;
    height: auto;
}

.gGWJOW {
    font-family: Lato, "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
    color: rgb(43, 84, 106);
    line-height: 1.5;
    letter-spacing: 0.04em;
    margin: 0px;
    font-size: 1.5rem;
}

.under {
    border-bottom: solid 3px #2b546a;
}

.content-card {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 10px;
    transition: all 0.3s ease-in-out 0s;
}

.content-title {
    color: rgb(43, 84, 106);
    border-bottom: solid 3px #2b546a;
}

.for-goal-table {
    margin: 3px auto;
}

.login-form {
    width: 500px;
    height: auto;
    margin: 0 auto;
}

.form {
    margin: 0 auto;
    width: auto;
    height: auto;
}

.form-control {
    border: 2px solid #ced4da !important;
    margin: 0 auto;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border: 2px solid #30c8d6 !important;
    outline: 0;
    box-shadow: none !important;
}

.div-label {
    padding-left: 110px;
}

.setting_btn:hover{
    opacity: 0;
    background-color: #FF5B5B !important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0 #30c8d6;
}

.set_link:hover{
    border:1px solid #30c8d6;
    padding:0 0 10px 8px;
    text-decoration: none;
    box-shadow: inset 0 0 0 0 #30c8d6;
}

.setting_li_1{
    margin-right: 250px;
    margin-left: 10px;
}

.setting_li_2{
    margin-right: 10px;
}

.schedule-title{
    color: #2b546a;
}

.schedule-title:hover{
    text-decoration: none;
    box-shadow:none;
    color: #30c8d6;
}
